* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

#no-script {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    width: 100%;
}

#no-script-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    padding: 1em;
    margin: 1em;
    border: 0.2em double black;
    border-radius: 0.5em;
    background-color: #ffffcc;
}

#no-script-img {
    height: 150px;
    padding-bottom: 0.2em;
}

#no-script-maintext {
    font-size: 2.5rem;
}

#no-script-subtext {
    font-size: 1.5rem;
}

@media screen and (max-width: 758px) {
    #no-script-maintext {
        font-size: 2rem;
    }

    #no-script-subtext {
        font-size: 1.2rem;
    }

    #no-script-img {
        width: 300px;
        height: 100px;
    }
}
